@font-face {
    font-family: 'Lato-Bold';
    src: url('assets/fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Lato-Black';
    src: url('assets/fonts/Lato-Black.ttf');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('assets/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('assets/fonts/Lato-Light.ttf');
}

body {
    background: white;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1020px;
    height: 89px;
    margin: -8px auto 0 auto;   
    background: #2d303a;
    color: #fff;
    border-bottom: 6px solid #323746;
}

.logo {  
    width: 200px;
    height: 89px;
    box-sizing: border-box;
    padding: 27px 0px 35px 38px;
    
}

.logo h1 {
    display: inline;
    font-family: Lato-Bold;
    font-size: 26px;
    letter-spacing: -1px;
}

.logo span {
    font-family: Lato-Bold;
    font-size: 26px;
    color: #f06c64;
}

.navbar {
    width: 450px;
    height: 89px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 23px 39px 0 38px;  
}

li {
    list-style-image: url('assets/img/list-style.png');
    color: grey;
}

#li {
    list-style-type: none;
    list-style-image: none;
}

a {
    font-family: Lato-Bold;
    font-size: 12px;
    text-decoration: none;
    color: white;
}

a:hover {
    color: #f06c64;
}

main {
    max-width: 1020px;
    margin: 0 auto 0 auto;  
}

.slider {
    height: 594px;
    background: #f06c64;
    border-bottom: 6px solid#ea676b;
}

.photo-vertical {
    position: relative;
    left: 110px;
    top: -2px;
}

.photo-horizontal {
    position: relative;
    left: 174px;
    top: -126px;
}

.buttonl {
    position: relative;
    left: 42px;
    top: 282px; 
    width: 16px;
    height: 27px;
    background-image: url('assets/img/button-left.png');
}

.buttonr {
    position: relative;
    left: 964px;
    top: 254px; 
    width: 16px;
    height: 27px;
    background-image: url('assets/img/button-right.png');
}

.buttonl:hover {
    background-image: url('assets/img/button-left-black.png');
}

.buttonr:hover {
    background-image: url('assets/img/button-right-black.png');
}

.services {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 45px 40px 68px 40px;
    height: 496px;
    background: #f2f2f2;
    border-bottom: 6px solid#ffffff;
}

.block1 h1 {
    font-family: Lato-Black;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    text-align: left;
}

.block1 p {
    font-family: Lato-Light;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.1px;
    color: #767e9e;
    text-align: left;
}

.block2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 29px;
}

.positions {
    display: flex;
    flex-direction: row;
    width: 300px;
 }
 
 .addpos {
     margin-top: 18px;
 }

.text {
    display: flex;
    flex-direction: column;
    margin: -16px 0px 0px 20px;
    width: 220px;
}

.block2 h1 {
    font-family: Lato-Black;
    text-align: left;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
}

.block2 p {
    margin-top: -5px;
    font-family: Lato-Regular;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #767e9e;
}

.ellipse {
    width: 59px;
    height: 59px;
    border-radius: 29px;
    border: 2px solid #666d89;
}

#pen {
    box-sizing: border-box;
    padding: 12px 12px;
}

#bulb {
    box-sizing: border-box;
    padding: 11px 17px;
}

#heart {
    box-sizing: border-box;
    padding: 14px 12px;
}

#phone {
    box-sizing: border-box;
    padding: 12px 18px;
}

#bubble {
    box-sizing: border-box;
    padding: 14px 12px;
}

#star {
    box-sizing: border-box;
    padding: 12px 12px;
}

